# Python
__pycache__/
*.py[cod]
*$py.class

# Ambiente Virtual
quantum_env/
env/
venv/

# Resultados/Outputs
outputs/*.png
outputs/*.jpg
outputs/*.json

# IDE
.vscode/
.idea/

# Private Notes & Exercises
notes/
